<ion-header >
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Mis llamadas anteriores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-pickup-call-card status="hold" upDateAt="25/04/23 16:29" createdAt="24/04/23"
  notes="tengo dos bolsas completamente llenas, una es de botellas de plástico y la otra es de vidrio"></app-pickup-call-card>

  <app-pickup-call-card status="processing" upDateAt="24/04/23 16:29" createdAt="2/04/23"
  notes="cajas de cartón"></app-pickup-call-card>

  <app-pickup-call-card status="finished" upDateAt="20/04/23 16:29" createdAt="19/04/23" value="15.000€"></app-pickup-call-card>


</ion-content>
