<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>

    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-input type="text" label="Nombre" labelPlacement="floating" placeholder="Escribe tu nombre completo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" label="Email" labelPlacement="floating" placeholder="ejemplo@email.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Contraseña" labelPlacement="floating" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Confirma contraseña" labelPlacement="floating" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="tel" label="Telefono" labelPlacement="floating" placeholder="(34) 640589478"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Dirección</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" label="Dirección" labelPlacement="floating" placeholder="Escribe tu dirección"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" label="Numero" labelPlacement="floating" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" label="Barrio" labelPlacement="floating" placeholder="Escribe tu dirección"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" label="Código Postal" labelPlacement="floating" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" label="Localidad" labelPlacement="floating" placeholder="Escribe tu localidad"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button size="full" color="success" (click)="register()">Registrarme</ion-button>

    </ion-card>



</ion-content>

