<ion-header >
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Recogida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/img/mapa.png">
  <ion-card>
    <ion-card-content>
      <p>Dirección: Adolfo Ruiz Cortines</p>
      <p>Numero: 125</p>
      <p>Barrio: Miguel Hidalgo</p>
      <p>Código Postal: 1420</p>
      <p>Ciudad: Ciudad de México</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="insert">
      <ion-label position="floating">Notas</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">Crear llamada de recogida</ion-button>
</ion-content>

