<ion-header>
  <ion-toolbar color="success">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons> <ion-title slot="end">Recicla</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="../../../assets/img/avatar.jpg">
      </ion-avatar>
      <ion-label>
        <h1>Margarita Alvarez</h1>
        <p>Saldo: <span class="money">15,000 €</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

<app-pickup-call-card [hasHeader]="true" [hasFooter]="true" status="hold" upDateAt="25/04/23 16:29" createdAt="24/04/23"
notes="tengo dos bolsas completamente llenas, una es de botellas de plástico y la otra es de vidrio" footer  (click)="goToPickupCalls()"></app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success"(click)="newPickupCall()">
      <ion-icon  name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

